.dashboard {
  display: flex;
  height: 100vh;
  width: 100%;
  padding-left: 1rem;
  padding-right: 10rem;
  padding-top: 10%;
  padding-bottom: 10%;
  margin: 0;
  border-right: 2px solid rgb(247, 247, 247);
  align-items: center;
  justify-content: center;
}
.adminIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
