.dashboard {
  display: flex;
  height: 100vh;
  width: 100%;
  padding-left: 1rem;
  padding-right: 10rem;
  padding-top: 10%;
  padding-bottom: 10%;
  margin: 0;
  border-right: 2px solid rgb(247, 247, 247);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.adminIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.upcoming {
  color: green;
}
.dueSoon {
  color: orange;
}
.overdue {
  color: red;
}
.progress-bars {
  margin-top: 20px;
}

.progress-bar {
  margin-bottom: 10px;
}

.bar {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.fill {
  height: 10px;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  .dashboard {
    padding: 2rem 1rem;
  }

  .progress-bars {
    width: 100%;
  }

  .adminIcon {
    top: 0.5rem;
    right: 0.5rem;
  }
}
